@media (max-width: 992px) {
	h1{
		font-size: $fontsize_lg;
	}
	h2{
		font-size: $fontsize_md;
	}
	h3{
		font-size: $fontsize_sm;
	}
	.grid-landing {
		padding-top: 10px;
		display: grid;
		width: 90%;
		height: fit-content;
		margin: auto;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(5,auto);
		grid-template-areas: "ofertas ofertas" "hombre mujer" "novedades novedades" "hiking climbing" "camping ski";
		gap: 5px;
	}
	.contenedor_landing {
		a {
			font-size: $fontsize_md;
		}
	}
	.tienda {
		background-image: url(../img/fondo-tienda.jpg);
		width:90%;
		margin-bottom: 20px;
		padding-bottom: 10px;
		figure {
			p {
				font-size: $fontsize_xs;
			}
			button {
				font-size: $fontsize_sm;
			}
			figcaption {
				font-size: $fontsize_sm;
			}
		}
	}

	.lista-hor {
		ul {
			width: 65%;
			li {
				width: 20%;
			}
		}
	}
	footer {
		
		section{
			width:80%;
		}
		div {
			width: 15%;
			img{
				width: 20px;
			}
		}
	}
	.nosotros {
		
		width: 100%;
	}
	.formulario {
		width: 90%;
	}
}

@media (max-width:768px){
	h1{
		font-size: $fontsize_md;
	}
	h2{
		font-size: $fontsize_sm;
	}
	p{
		font-size: $fontsize_xs;
	}

	.tec {
		ul {
			li {
				article{
					img {
						width: 40%;
						height: auto;					
					}
					p{
						font-size: $fontsize_xxs;
					}
				}
				
			}
		}
	}

	.formulario{
		label,input{
			font-size: $fontsize_xs;
		}
		div{
			input {
				width: 50%;
			}
		}
	}

	.nosotros{
		p,img{
			font-size: $fontsize_xs;
			width: 90%;
			padding: 10px 0 10px 0;
		}
		div{
			width: 90%;
			flex-direction: column;
			img,p{
				width: 100%;
			}
		}
	}
}



@media (max-width:425px){
	h1{
		font-size: $fontsize_sm;
	}
	h2{
		font-size: $fontsize_xs;
	}

	h3{
		font-size: $fontsize_xs;
	}


	header{
		height: 150px;
	}

	footer{
		section{
			width:95%;
		}
		svg{
			width:30px;
		}
	}

	.grid-landing{
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(7,auto);
		grid-template-areas: "ofertas ofertas" "hombre mujer" "novedades novedades" "hiking hiking" "climbing climbing" "camping camping" "ski ski";
	}

	.lista-hor {
		flex-direction: column;
		ul {
			width: 90%;
			li {
				img{
				
				}
			}
		}
	}

	.tec {
		flex-direction: column;
		ul {
			flex-direction: column;
			li {
				flex-direction: column;
				article{
					flex-direction: column;
					img{
						width: 80%;
						margin:auto;
					}
					p{
						font-size: $fontsize_xxs;
					}
				}
			}
		}
	}

	.formulario{
		label,input{
			font-size: $fontsize_xs;
		}
		
		div{
			display: flex;
			flex-direction: column;
			width: 90%;
			
			input {
				width: 100%;
			}
		}
	}

	.nosotros{
		p,img{
			font-size: $fontsize_xxs;
			width: 90%;
			padding: 10px 0 10px 0;
		}
		div{
			width: 90%;
			flex-direction: column;
			img,p{
				width: 100%;
			}
		}
	}

	
}